nav{
top: 0;
width: 100%; 
height: 60px; 
position: fixed; 
background-color: rgb(183, 217, 149); 
a{
    color: #fff;
    transition: transform 0.5s ease, transform 0.5s ease ease-in-out;
    float: right;
}
a:hover{
     transition: scale(1.1);
     color: beige;
     font-weight:bold ;
     display: inline-block;
}
}

.inputs{
margin: 15px;
height: 30px; 
width: 80%; 
transition: transform 0.4s ease, transform 0.6s ease ease-in-out;
}
#inputbottom{
margin: 15px;
height: 30px;
width: 80%;
background-color: rgb(183, 217, 149); 
cursor: pointer;
font-weight:bold ;
font-size: 1.2rem;
}
#inputbottom:hover{
     box-shadow: 2px 2px 5px rgb(56, 73, 40) inset 2px 2px 5px ;
     transform: scale(1.05);
    filter: brightness(1.2);
}
h1{
    color: mediumblue;
}
article{
    padding: 20px;
    p,a{
        font-size: 1.2rem;
    }
    p{
        font-family: 'Courier New', Courier, monospace;
        color: #43e109;
    }
   
}
a{
        text-decoration: none;
        color: #0ce5de;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
body{
    font-weight: 200;
}
 #modelo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px; 
    justify-content: center;
    align-content: center;
    width: 50%;
  
   
    background-color: rgb(183, 217, 149); ;
        figure{
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 10px;
                background-color: rgb(183, 217, 149); ;
                 list-style: inside;
            img{
                margin: 10px;
                padding: 10px;
                border: rgba(0, 0, 0, 0.935) 2px solid;
                width: 150px;
                height: auto;
                cursor: pointer;
                font-weight:bold ;
                font-size: 1.2rem;
            }
            img:hover
            {
            box-shadow: 2px 2px 5px rgb(56, 73, 40) inset 2px 2px 5px ;
            transform: scale(1.05);
            filter: brightness(1.2);
            }
        }
        li{
    color: #fff;
}
    }
figcaption{
    color: #fff;
}
#home{
    display: grid;
    grid-template-columns: 4fr 4fr ;
    grid-template-rows: 4fr 4fr;
    gap: 50px;
    margin: 20px;
    #home1{
   grid-column: 2/2;
   grid-row: 2/2;
   h3,a,p{
    transition: transform 0.5s ease, transform 0.5s ease ease-in-out;
   }
   h3:hover{
    transition: rotate3d(1,1,1,10deg) scale(1.1) ;
   }
   a:hover{
    transition: rotate3d(1,1,1,10deg) scale(1.1) ;
   }
   p:hover{
    transition: rotate3d(1,1,1,10deg) scale(1.1) ;
   }
    .itemuno:hover{
        color: black;
        transform: translateX(20px);
    }
     .itemdos:hover{
        color: black;
             transform: translateX(-20px);
    }
    }
    
    #home1,#home2{
        display: flex;
        background-color: #fff;
        justify-content: center;
        padding: 20px;
        align-content: center;
        box-shadow: 2px 2px 5px rgb(56, 73, 40);
                transform: translateX(20px);
                 transition: rotate3d(1,1,1,10deg) scale(1.1) ;
    }
        .item1:hover,.item2:hover, .item3:hover, .item4:hover{
            font-weight:bold ;
        }
    .item1, .item2, .item3, .item4{
    transition: transform 0.4s ease, transform 0.6s ease ease-in-out;
    }
    .item1:hover{
        color: black;
        transform: translateX(20px);
    }
     .item2:hover{
        color: black;
             transform: translateX(-20px);
    }
     .item3:hover{
        color: black;
             transform: translateX(30px);
    }
     .item4:hover{
        color: black;
         transform: translateX(-30px);
    }
}
.div-home{
    font-family: 'Courier New', Courier, monospace;

}
footer{
    background-color: rgb(80, 128, 218); 
    border: solid black;
    
      
    h2{
      transition: transform 0.4s ease, transform 0.6s ease ease-in-out;
      scale: (1.1);
    }
    textarea.inputs{
    height: 5em;
    font-family: 'Courier New', Courier, monospace;
    }
}
.inputs:focus:invalid{
background-color: rgb(255, 202, 217);

}
.inputs:focus:valid{
background-color: rgb(202, 255, 209);

}

@keyframes aparecer{
    from{
        filter: blur(0.5rem);
        opacity: 0;
        transform: translateY(200px) ;
    }
    to{
        filter: blur(0);
         opacity: 3;
        transform: translateY(0px) ;
    }

}
@keyframes mover{
    from{
        
        opacity: 0;
        transform: translateY(200px) ;
    }
    to{
        
        opacity: 3;
        transform: translateY(0px) ;
    }

}
@keyframes rotar{
    0%{
        
       
        transform: rotateY(0deg) ;
    }
    50%{
        
        
        transform: rotateY(90deg) ;
    }
    100%{
          transform: rotateY(0deg) ;
    }

}
main{
    padding: 5%;
}
#title,#modelo,footer,#temario
{
    animation: aparecer 2.5s ease-in,  aparecer 3.0s ease-in-out; 
}
#home,#modelo,footer,#temario
{
    animation: mover 2.5s ease-in,  mover 3.0s ease-in-out; 
}
img{
    animation: rotar 2s linear infinite;
}
img:hover{ 
animation: none;
}